<pre >
  <code highlight class="html">
    &lt;!doctype html&gt;
    &lt;html lang="en"&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;Angular2 playground&lt;/title&gt;

        &lt;script src="lib/angular2-polyfills.js"&gt;&lt;/script&gt;
        &lt;script src="lib/es6-shim.js"&gt;&lt;/script&gt;
        &lt;script src="lib/bundle.js"&gt;&lt;/script&gt;
    &lt;/head&gt;

    &lt;body&gt;
        &lt;hello-app&gt;Loading...&lt;/hello-app&gt;
    &lt;/body&gt;

    &lt;/html&gt;
  </code>
</pre>
