<span class="aligner">
  <button *ngIf="!(af.auth | async)" md-mini-fab (click)="login()">
    <md-icon>account_circle</md-icon>
  </button>

  <span class="username" *ngIf="af.auth | async">
    {{authData.auth.displayName}}
  </span>
  <span *ngIf="af.auth | async">
    <img [src]="authData.auth.photoURL"
      class="user-pic" alt="an image"
      (click)="toggleCardOpen()" />

    <md-card *ngIf="authCardOpen">
      <md-card-title-group>
          <md-card-title>{{authData.auth.displayName}}</md-card-title>
          <md-card-subtitle>{{authData.auth.email}}</md-card-subtitle>
          <img md-card-md-image [src]="authData.auth.photoURL" />
      </md-card-title-group>
      <md-card-actions align="end">
        <button md-raised-button color="accent" (click)="logout()">LOGOUT</button>
      </md-card-actions>
    </md-card>
  </span>

</span>
