<mat-table #table [dataSource]="snippetsSource" matSort>

  <ng-container cdkColumnDef="image">
    <mat-header-cell *cdkHeaderCellDef>Language</mat-header-cell>
    <mat-cell *cdkCellDef="let row"><img [src]="getSvgPath(row.languageAlias)" class="table-image" /></mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
    <mat-cell *cdkCellDef="let row" [matTooltip]="row.description">{{ row.name }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="score">
    <mat-header-cell *cdkHeaderCellDef>Score</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.score }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="updated">
    <mat-header-cell *cdkHeaderCellDef>Last Updated</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.updatedDate | date }}</mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator
  [length]="snippetsDatabase.data.length"
  [pageIndex]="0"
  [pageSize]="25"
  [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator>
