@import '~@angular/material/theming';
@include mat-core();

mat-row {
  cursor: pointer;
}

mat-row:hover {
  background-color: lighten(mat-color($mat-light-blue, 500), 50%);
}

.container {
  margin: 2em;
}

.table-image {
  height: 40px;
}
