<div class="spanner">
  <a md-fab color="accent" [routerLink]="['add']" class="add-fab">
    <md-icon>add</md-icon>
  </a>
</div>
<md-card>
  <md-card-header>
    <md-card-title>
      <md-input [disabled]="!loaded" placeholder="Search" dividerColor="accent" ></md-input>
    </md-card-title>
  </md-card-header>

  <div *ngIf="!loaded" class="centre-er">
    <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
  </div>
  <div *ngIf="loaded">
    <md-nav-list>
      <span *ngFor="let backup of snippetsBackup | async" class="snippet-item">
        <md-list-item>
          <img md-list-icon [src]="getImage(backup)" />
          <span md-line class="title">{{backup.name}}</span>
          <button md-raised-button (click)="restore(backup)">Restore</button>
        </md-list-item>
      </span>

      <span *ngFor="let snippet of snippets | async" class="snippet-item">
        <a md-list-item [routerLink]="[snippet.$key]">
          <img md-list-icon [src]="getImage(snippet)" />
          <span md-line class="title">{{snippet.name}}</span>
          <span md-line class="secondary">{{snippet.description}}</span>
          <span md-line class="secondary detail">Created By: {{snippet.authorName}} | {{ snippet.updatedDate | date}}</span>
        </a>
        <button md-icon-button (click)="delete(snippet)">
          <md-icon>delete</md-icon>
        </button>
      </span>
    </md-nav-list>
  </div>
</md-card>
