<md-card>
  <md-card-header>
    <md-input placeholder="Search" dividerColor="accent" ></md-input>
    <span class="spacer"></span>

  </md-card-header>

  <div *ngIf="!loaded" class="centre-er">
  </div>
  <div *ngIf="loaded">
    <md-nav-list>
      <a md-list-item *ngFor="let snippet of snippets | async"
        [routerLink]="[snippet.$key]">
        <img md-list-icon [src]="getImage(snippet)" />
        <span md-line class="title">{{snippet.name}}</span>
        <span md-line class="secondary">{{snippet.description}}</span>
        <span md-line class="secondary detail">Created By: {{snippet.authorName}} | {{ snippet.updatedDate | date}}</span>
      </a>
    </md-nav-list>
  </div>
</md-card>

<span class="action-fab">
  <a md-fab color="accent" [routerLink]="['add']">
    <md-icon>add</md-icon>
  </a>
</span>
