.detail {
  color: var(--secondary-text-color);
}

.title {
  font-weight: bold;
}

.to-delete {
  color: #f44336;
}

.spacer {
  margin: 0 8px;
}


[md-list-icon] {
  border-radius: 0 !important; /* boo! */
}

.centre-er {
  display: flex;
  justify-content: center;
}

.add-fab {
  z-index: 1;
  top: 28px;
}

.spacer {
  flex: 1 1 auto;
}
