.detail {
  color: var(--secondary-text-color);
}

md-nav-list a .title {
  font-weight: bold;
}

.spacer {
  margin: 0 8px;
}

.add-fab {
  top: 28px;
}

[md-list-icon] {
  border-radius: 0 !important; /* boo! */
}

.action-fab {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.centre-er {
  display: flex;
  justify-content: center;
}

md-card-header {
  display: flex;
  flex-direction: column;
}

md-input {
  flex: 1 1 auto;
}
