<md-toolbar color="primary" class="mat-elevation-z2">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <div class="title">
    <span>Base</span>&nbsp;&nbsp;
    <span class="tiny"><a [routerLink]="['changelog']">v{{ version }}</a></span>
  </div>
  <span class="fill-remaining"></span>
  <base-user-info [auth]="(authState$ | async)" *ngIf="(authState$ | async)?.uid"></base-user-info>
  <!-- <button md-icon-button (click)="login()">
    <md-icon>account_circle</md-icon>
  </button>
  <button md-icon-button (click)="logout()">
    <md-icon>account_circle</md-icon>
  </button> -->

</md-toolbar>

<!-- <md-progress-bar *ngIf="loading$ | async" color="accent" mode="indeterminate"></md-progress-bar> -->

<md-sidenav-container>
  <md-sidenav [opened]="isOpened" [mode]="mode" #sidenav class="mat-elevation-z2">
    <md-nav-list>
      <a md-list-item [routerLink]="['']">
        <md-icon md-list-icon>home</md-icon>
        <span md-line>Home</span>
      </a>
      <a md-list-item [routerLink]="['snippets']">
        <md-icon md-list-icon>content_cut</md-icon>
        <span md-line>Snippets</span>
      </a>
      <a md-list-item [routerLink]="['bookmarks']">
        <md-icon md-list-icon>bookmark</md-icon>
        <span md-line>Bookmarks</span>
      </a>

      <hr class="divider" *ngIf="(authState$ | async)?.uid" />

      <a id="logout" md-list-item (click)="logout()" *ngIf="(authState$ | async)?.uid">
        <md-icon md-list-icon>lock</md-icon>
        <span md-line>Logout</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <main class="main-content">
    <router-outlet hidden="true"></router-outlet>
  </main>

</md-sidenav-container>
