<mat-toolbar color="primary" class="mat-elevation-z2 top-bar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title">
    <span>Base</span>&nbsp;&nbsp;
    <span class="tiny"><a [routerLink]="['changelog']">v{{ version }}</a></span>
  </div>
  <span class="fill-remaining"></span>
  <base-user-info [auth]="(authState$ | async)" *ngIf="(authState$ | async)?.uid"></base-user-info>
  <!-- <button mat-icon-button (click)="login()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>account_circle</mat-icon>
  </button> -->

</mat-toolbar>

<!-- <mat-progress-bar *ngIf="loading$ | async" color="accent" mode="indeterminate"></mat-progress-bar> -->

<mat-sidenav-container>
  <mat-sidenav [opened]="isOpened" [mode]="mode" #sidenav class="mat-elevation-z2">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a mat-list-item [routerLink]="['snippets']">
        <mat-icon mat-list-icon>content_cut</mat-icon>
        <span mat-line>Snippets</span>
      </a>
      <a mat-list-item [routerLink]="['bookmarks']">
        <mat-icon mat-list-icon>bookmark</mat-icon>
        <span mat-line>Bookmarks</span>
      </a>

      <hr class="divider" *ngIf="(authState$ | async)?.uid" />

      <a id="logout" mat-list-item (click)="logout()" *ngIf="(authState$ | async)?.uid">
        <mat-icon mat-list-icon>lock</mat-icon>
        <span mat-line>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <main class="main-content">
    <router-outlet hidden="true"></router-outlet>
  </main>

</mat-sidenav-container>
