.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.login-card {
  width: 50%;
  padding: 0;
}

.login-card md-card-content {
  padding: 32px;
}

md-input {
  width: 100%;
  margin-bottom: 10px;
}

.loginctrl {
  display: flex;
  justify-content: flex-end;
}
