<md-card>
  <div *ngIf="!loaded" class="centre-er">
    <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
  </div>
  <div *ngIf="loaded">
  <md-card-header>
    <img [src]="getImage()" md-card-avatar />
    <md-card-title><b>{{ (snippet | async)?.name }}</b></md-card-title>
    <md-card-subtitle>
      <b>By</b> {{ (snippet | async)?.authorName }} ·
      <b>Last Updated</b> {{ (snippet | async)?.updatedDate | date }}
    </md-card-subtitle>
    <span class="spacer"></span>
    <a md-fab color="accent" [routerLink]="['edit']" class="edit-fab">
      <md-icon>edit</md-icon>
    </a>
  </md-card-header>

  <hr />

  <p class="paper-font-body1 descript">{{ (snippet | async)?.description }}</p>

  <pre class="paper-font-code1">
    <code highlight [class]="(snippet | async )?.languageAlias">
{{ (snippet | async )?.code }}
    </code>
  </pre>
</div>
</md-card>
