
<md-toolbar color="accent">
  <button md-icon-button (click)="goBack()">
    <md-icon>arrow_back</md-icon>
  </button>
  <span *ngIf="!loaded">Loading...</span>
  <span *ngIf="loaded"><b>{{ (snippet | async)?.name }}</b></span>
  <span class="spacer"></span>

  <button md-fab color="primary" (click)="plusOne()" class="plus-fab" [disabled]="!loaded">
    <md-icon>plus_one</md-icon>
  </button>

  <a md-fab color="primary" [routerLink]="['edit']" class="edit-fab" [disabled]="!loaded">
    <md-icon>edit</md-icon>
  </a>

</md-toolbar>
<md-card>
  <div *ngIf="!loaded" class="centre-er">
    <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
  </div>
  <div *ngIf="loaded">
    <div class="header">
      <span class="badge lang-image" [attr.data-score]="score">
        <img [src]="getImage()" />
      </span>
      <div class="description">
        <p class="paper-font-body1">{{ (snippet | async)?.description }}</p>
        <p class="paper-font-caption">
          By {{ (snippet | async)?.authorName }} ·
          Last Updated {{ (snippet | async)?.updatedDate | date }}
        </p>
      </div>
    </div>

  <pre class="paper-font-code1">
    <code highlight [class]="(snippet | async )?.languageAlias">
{{ (snippet | async )?.code }}
    </code>
  </pre>
</div>
</md-card>
