.spacer {
  flex: 1 1 auto;
}

.edit-fab {
  top: 28px;
}

md-card-title {
  font-size: 20px;
}

[md-card-avatar] {
  border-radius: 0 !important; /* boo! */
}

.centre-er {
  display: flex;
  justify-content: center;
}

hr {
  border: 1px solid #aaa;
}

.descript {
  margin-right: 56px;
}
