<md-card>
  <md-toolbar color="accent">
    Snippets Admin
  </md-toolbar>
  <div class="card-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm" *ngIf="!resetting" class="add-form">
      <md-input placeholder="Display Name" formControlName="displayName"></md-input>
      <md-input placeholder="Alias" formControlName="alias"></md-input>

      <button type="submit" md-raised-button color="primary" [disabled]="!myForm.valid">
        ADD
      </button>
    </form>
    <md-list dense>
      <h3>Available Languages</h3>
      <md-list-item *ngFor="let language of languages | async">
        <span md-line> {{language.displayName}} </span>
        <span md-line class="secondary"> {{language.alias}} </span>
        <button md-icon-button (click)="remove(language.$key)">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </div>
</md-card>
